<h1>Welcome to the Budget Calculator</h1>
<%= link_to 'Your Recurring Payments', controller: 'payments' %><br>
<%= link_to 'Your Recurring Deposits', controller: 'deposits' %><br><br>
<%= link_to 'Your Balance Overview', controller: 'balance' %>

<p>Current Assumptions in the App: (To be updated to allow more flexibility)</p>
<p>1. All payments/deposits are monthly</p>
<p>2. All payments get charged on first of month</p>
<p>3. It is the same rate every month (update to allow flexibilty with things like utility bills)</p>